:root {
    --primary-text: #D7D8DB;
    --secondary-color: rgba(156, 156, 156, 0.836);
}

.Sidebar-wrap{
    text-align: left;
    display: flex;
    flex-direction: column;
    color: var(--primary-text);
    gap: 15px;
    max-height: 95vh;
    min-height: 95vh;
}

.navigation{
    padding: 0px 0px 0px 20px;
    list-style-type: none;

}

.navigation li{
    margin: 10px 0px 0px 0px;
    color: var(--secondary-color);
    text-align: left;
    width: 85%;
    display: flex;
    cursor: pointer;
}
.wrap-contents {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
text-align: left;

}
.wrap-contents li img{
    width: 20px;
    height: 20px;
}

hr{
    border-color:rgba(177, 177, 177, 0.212);
}

.Extra-nav{
    padding: 0px 0px 0px 20px;
}
.extranavigation{
    color: var(--secondary-color);
    list-style-type: none;
}
.extranavigation li{
    margin: 0px 0px 10px 0px;
    color: var(--secondary-color);
    text-align: left;
    width: 85%;
}

/*-- FOOTER --*/

.footer-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}